body {
    background-color: darkolivegreen;
    color: yellow;
}

nav {
    height: 200px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer {
    text-align: center;
    margin-right: 200px;

}

#memeImage {
    margin-right: 200px;
    text-align: center;
    ;
}

header {
    text-align: center;
}

.paraText {
    color: rgb(238, 189, 130);
    font-size: x-large;
}